BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 160  # Permite líneas más largas sin que se dividan
UseTab: Never  # Usa espacios para la indentación
BreakBeforeBraces: Attach  # Las llaves van en la misma línea
SpaceAfterCStyleCast: true  # Añade un espacio después de los casts C-style
AlignAfterOpenBracket: Align  # Alinea los parámetros después del paréntesis
AllowAllParametersOfDeclarationOnNextLine: false  # No permite que los parámetros se dividan en varias líneas
AllowShortBlocksOnASingleLine: true  # Permite bloques pequeños en una sola línea
AllowShortCaseLabelsOnASingleLine: true  # Permite los 'case' cortos en una sola línea
CommentPragmas: '/*'  # Mantiene los comentarios en una sola línea
AllowShortCommentsOnASingleLine: true  # Permite que los comentarios cortos permanezcan en una sola línea
BreakFunctionCalls: All  # Evita que las llamadas a funciones como printf se dividan
MaxEmptyLineFill: 1000  # Permite que las líneas vacías no se interrumpan prematuramente
